<header class="main-header" style="background-image: url( {{ "/assets/images/header.jpg" | prepend: site.baseurl }} )">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a class="branding normal" href="#" title="">
                    <img style="width:80px; height:80px;" src=" {{ "/assets/images/branding.png" | prepend: site.baseurl }} " alt="个人博客">
                </a>
                <h2 class="text-hide">qingyun.com是一个个人博客，主要用于记录asp.net及相关技术知识。</h2>
                <img src=" {{ "/assets/images/header.jpg" | prepend: site.baseurl }} " alt="qingyun1029.com 博客系统" class="hide">
            </div>
        </div>
    </div>
</header>