<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <!--文章按年份分组-->
                        <!--<li role="presentation"><a href="#">文章</a></li>-->
                        <!--文章分类-->
                        <li role="presentation"><a href="#">分类</a></li>
                        <li role="presentation"><a href="#">标签</a></li>
                        <li role="presentation"><a href="#">关于</a></li>
                        <!--<li role="presentation"><a href="#">打赏</a></li>-->
                        <li role="presentation"><a href="#">轻松一下</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>