---
layout: default
---

{% assign categoryTemp = page.title %}
{% assign paginator = page.paginator %}

<div class="cover tag-cover">
    <h3 class="tag-name">
        {% assign cateObj = site.data.categories | where:"name",categoryTemp | first %}
        分类：{{ cateObj.display }}
    </h3>
    <div class="post-count">
        共 {{ paginator | size }} 篇文章
    </div>
</div>

<!--{% if page.paginator %}
{% assign paginator = page.paginator %}
{% endif %}-->

{% for post in paginator.posts %}
    <article class="post">
        <div class="post-head">
            <h1 class="post-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h1>
            <div class="post-meta">

                <!--
                    capture作用：
                    用来定义一个变量名，capture、endcapture 标签对中的字符是该变量名的值（可以是直接的字符串，
                    也可以是通过"{\{}\}"(取消反画线，不然生存html的时候会报警告)获取到的字符，如下：）
                    参考：https://help.shopify.com/themes/liquid/tags/variable-tags
                -->
                
                {% capture author %} {{ post.author }} {% endcapture %}
                {% capture title %} {{ post.title }} {% endcapture %}
                {% capture date %} {{ post.date }} {% endcapture %}                
                {% include author.html author=authro title=title date=date %}

            </div>
        </div>
        <div class="post-content">
            <p>
                <!--
                    post.except —— 文章摘要
                    | 为过滤器
                -->
                {{ post.excerpt  | remove: '<p>' | remove: '</p>' }}
            </p>
        </div>
        <div class="post-permalink">
            <a href="{{ post.url }}" class="btn btn-default">阅读全文</a>
        </div>
        <div class="post-footer clearfix">
            <div class="pull-left tag-list">
                分类:
                <!--<i class="fa fa-folder-open-o"></i>-->
                {{ post.categories | join:"," }}            
            </div>
            <div class="pull-right share">
                标签:
                {{ post.tags | join:"," }}
                <!--
                    <i class="fa fa-folder-open-o"></i>
                    {% for tag in page.tags %}
                    {{ tag }}
                    {% endfor %}
                -->
            </div>
        </div>
    </article> 
{% endfor %}

<!-- 分页链接 -->
<nav class="pagination" role="navigation">
    {% if paginator.previous_page %}
    <a class="newer-posts" href="/categories/{{ categoryTemp }}/{{ paginator.previous_page_path }}"><i class="fa fa-angle-left"></i></a>
    {% endif %}
    <span class="page-number">第 {{ paginator.page }} 页 ⁄ 共 {{ paginator.total_pages }} 页</span>
    {% if paginator.next_page %}
    <a class="older-posts" href="/categories/{{ categoryTemp }}/{{ paginator.next_page_path }}"><i class="fa fa-angle-right"></i></a>
    {% endif %}
</nav>
