<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>    
    <link rel="stylesheet" href=" {{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }} " />
    <link rel="stylesheet" href=" {{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }} " />
    <link rel="stylesheet" href=" {{ "/assets/css/main.css" | prepend: site.baseurl }} " />
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
</head>
<body class="home-template">

<!--
    参考网站：
    http://www.ghostchina.com/
    http://www.golaravel.com/
-->

<!-- start header -->
{% include header.html %}
<!-- end header -->
<!-- start navigation -->
{% include navigation.html %}
<!-- end navigation -->
<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                {{ content }}
            </main>

            <!--
                图标参考
                http://v3.bootcss.com/components/
            -->
            <aside class="col-md-4 sidebar">
                <div class="widget">
                    <h4 class="title">最新文章</h4>
                    <div class="content recent-post">
                        {% for post in site.posts offset:0 limit:10 %}
                            <div class="recent-single-post">
                                <a href="{{ post.url }}" class="post-title">{{ post.title | truncatehtml | truncatewords: 60 }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="widget">
                    <h4 class="title">文章分类</h4>
                    <div class="content tag-cloud">
                        {% for cate in site.data.categories %}
                            {% assign catTemp = cate.name %}
                            {% assign catDesTemp = cate.display %}
                            <a href="/categories/{{ catTemp }}">
                            {{ catDesTemp }} <sup>{{ site.categories[catTemp] | size }}</sup>
                             <!--<span class="badge" style="color:#afa4a4; background-color:#f3e8e8;">{{ site.categories[catTemp] | size }}</span>-->
                            </a>
                        {% endfor %}
                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        {% for tag in site.data.tags %}
                            <a href="/tags/{{ tag.name }}">
                            {{ tag.name }}
                            </a>
                        {% endfor %}
                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
                <div class="widget">
                    <h4 class="title">
                        社区
                    </h4>
                    <div class="content">
                        <p>QQ群：0000000</p>
                        <!--<p>
                            <a href="http://wenda.ghostchina.com/" title="Ghost中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a>
                        </p>-->
                        <p>
                            <a href="#" title="中文网官方微博" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i class="fa fa-weibo"></i> 官方微博</a>
                        </p>
                    </div>
                </div>
                
                <div style="background-color:#ffffff; padding:0px; border:0px;">
                    <iframe style="background-color:#ffffff; padding:0px; border:0px;" frameborder="no" border="0" marginwidth="0" marginheight="0" width=360 height=450 src="http://music.163.com/outchain/player?type=0&id=427850291&auto=1&height=430"></iframe>    
                </div>
                <!--<div class="widget">
                    <h4 class="title">下载 Ghost</h4>
                    <div class="content download">
                        <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">Ghost 中文版（0.7.4）</a>
                    </div>
                </div>-->
            </aside>
        </div>
    </div>
</section>
{% include footer.html %}
{% include copyright.html %}
<a href="#" id="back-to-top" style="display: inline;">
    <i class="fa fa-angle-up"></i>
</a>
<!--
参考：
https://segmentfault.com/q/1010000003820970/revision
-->

</body>
</html>

<script src="{{ "/assets/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
