---
layout: default
title: 我的Blog——首页
---

<article class="post">
    <div class="post-head">
        <h1 class="post-title">
            <a href="{{ page.url }}">{{ page.title }}</a>
        </h1>
        <div class="post-meta">            

            {% capture author %} {{ page.author }} {% endcapture %}
            {% capture title %} {{ page.title }} {% endcapture %}
            {% capture date %} {{ page.date }} {% endcapture %}                
            {% include author.html author=authro title=title date=date %}

        </div>
    </div>
    <div class="post-content">
        <p>
            {{ page.content }}
        </p>
    </div>
    <div class="post-footer clearfix">
        <div class="pull-left tag-list">
            分类:
            <!--<i class="fa fa-folder-open-o"></i>-->
            {{ page.categories | join:"," }}            
        </div>
        <div class="pull-right share">
            标签:
            {{ page.tags | join:"," }}
            <!--
                <i class="fa fa-folder-open-o"></i>
                {% for tag in page.tags %}
                {{ tag }}
                {% endfor %}
            -->
        </div>
    </div>
</article>

<div class="prev-next-wrap clearfix">
<!--
    前一篇 和 后一篇
    因为首页通过 site.posts 获取的所有帖子都是通过日期倒序排序的，
    但是，page.previous 却是在升序结果中获取的，所以 page.previous、page.next 两者应该倒过来理解。
-->
    {% if page.next %}
        <a class="btn btn-default" href="{{ page.next.url }}" title="{{ page.next.title }}"><i class="fa fa-angle-left fa-fw"></i>{{ page.next.title }}</a>
    {% endif %}
        &nbsp;
        <!--<li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>-->
    {% if page.previous %}
        <a class="btn btn-default" href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}<i class="fa fa-angle-right fa-fw"></i></a>
    {% endif %}
</div>